#buscadores{
    background-color: #4f5e0138;
    height: 500px;
    width: 30%;
    border-radius: 0 0 50px 0;
    margin-bottom: 100px;
}
h2{
    font-size: 2em;
    padding: 30px 0;
}
.contFiltro *{
    margin-left: 10%;
    margin-top: 10px;
}
.separador{
 margin-bottom: 30px;
}
.buscarBtn{
    margin: 0 25%;
    width: 50%;
    height: 40px;
}

main{
    display: flex;
}
.contenedorCont{
    width: 70%;
}
.contLugar{
    display: flex;
    width: 90%;
    margin: 50px 5%;
    border-radius: 20px;
    background-color: #9c2d6c33;
    justify-content: center; /* centra horizontalmente */
  align-items: center;     /* centra verticalmente */
  flex-flow: wrap;
}
.contImg img{
    width: 90%;
}
.contImg{
    display: flex;
    width: 30%;
    height: 100%;
        justify-content: center; /* centra horizontalmente */
  align-items: center;     /* centra verticalmente */
}

.contInf{
    width: 65%;
    margin: 0 2.5%;
    height: 90%;
    color: #6d016c;
    font-weight: 400;
    word-spacing: 5px;
    letter-spacing: 1px;
    line-height: 1.2em;
}
.contInf h2{
    color: #370034;
    justify-self: left;
    padding-bottom: 5px;
}
.descrip{
    width: 90%;
    height: 70px;
    margin: 5% 10px;
    font-size: .9em;
}
.estado{
    justify-self: end;
    margin-right: 30px;
    color: #370034;
    font-weight: 700;
}
.contInf .btnWeb{
    margin-top: 20px;
    margin-bottom: 20px;
}

.descripInp{
    width: 90%;
    margin: 5px 5%;
    height: 100px;
    resize: none;
    background-color: #9c2d6c33;
    

}
.comentar{
    font-size: 1.5em;
}
.aparecer{
     display: block !important;
    transition: .5s ease-in-out;
}
.desaparecer{
    display: none;
    transition: .5s ease-in-out;

}
.comment-section{
    width: 100%;
    text-align: center;
}
.espacio{
    margin: 10px;
}