main{
    width: auto;
    height: 100vh;
    background-image: url('../images/fondoInicio.jpg');
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
}
.contenedor{
    width: 80%;
    height: 80vh;
    margin: 10vh 10%;
    background-color: #abba8d;
    text-align: center;

        border-style: solid;
    border-width: 10px;
    border-color: #9c2d6c;
    border-radius: 5px;

    overflow: auto;
}
.btnIS{
    background-color: #c7629b;
    color: aliceblue;

}
.inpText{
    width: 50%;
}
.contenedorIS{
    overflow: auto;
}